.AdminsLay{
    overflow-x: scroll;
    scroll-behavior: smooth;
    width: 100%;
    height: 400px;
    background-color: white;
    color: #191919;
    width: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    margin: 40px;
    border: none;
    border-radius: 10px;
    transition: all 1s;
}


.AdminData{
    display: flex;
    padding: 10px;
}

.AdminData hr{
    border: none;
    height: 2px;
    background-color: white;
}

.dashboard{
    margin: 20px;
    padding: 10px;
    font-size: xxx-large;
}

.UserId h1{
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
}

.Username h1{
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;   
}

.Email h1{
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

.Password h1{
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

.inner_id{
    padding: 10px;
    white-space: nowrap;
}

.inner_username{
    padding: 10px;
}

.inner_email{
    padding: 10px;
}

.inner_password{
    padding: 10px;
    white-space: nowrap;
}

.Queries{
    display: flex;
}

.deleteusers{
    flex: 1.75;
    display: block;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    border-radius: 20px;
   
}

.addusers{
    display: block;
    flex: 1.25;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   

    border: none;
    border-radius: 10px;

}

.userdata {
    flex: 1;
    margin: 20px;
    padding: 20px;
  
    border: none;
    border-radius: 10px;
    text-align: left;
    
}

.userdata h1{
    text-align: center;
}

.userdata .topuserdata{
    display: flex;
    width: 100%;
}

.userdata .topuserdata img{
    width: 25px;
    height: 30px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 5px;
}

.deleteusers form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.deleteusers form input{
    display: block;
    width: 100%;
}

.deleteusers form select{
    display: block;
    width: 100%;
}

.deleteusers .subadduser{
    border: none;
    border-radius: 0px 0px 10px 10px;
   
    padding: 20px;
}

.deleteusers .subdeleteuser{
    border: none;
    border-radius: 10px 10px 0px 0px;

    padding: 20px;
}



.addusers form {
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    row-gap: 15px;
    
}

.bargraphlay{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px;
    border-radius: 20px;
    border: none;
}

.bargraphlay .agegrp{
    flex: 1;
    padding: 20px;
    margin: 20px;
    border: none;
    border-radius: 10px;

}

.agegrp .topuserdataa{
    display: flex;
}

.agegrp .topuserdataa img{
    width: 25px;
    height: 30px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 5px;
}

.gengrp .topuserdataa{
    display: flex;
}

.gengrp .topuserdataa img{
    width: 25px;
    height: 30px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 5px;
}

.bargraphlay .gengrp{
    flex: 1;
    margin: 20px;
    padding: 20px;
    border: none;
    border-radius: 10px;
  
}

.Subscriptions{
    flex: 0.8;
    display: grid;
    grid-template-columns: auto auto;
    padding: 40px;
}

.SubscriptionData{
    display: flex;
}

.subgraph{
    flex: 1.2;
    padding: 20px;
}

.Subscriptions h3 h1{
    font-size: 60px;
}
