@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');

*{
    font-family: 'Manrope', sans-serif;
    background-attachment: fixed;
}
:root{
    --blackyellow : 254,231,21;
    --redwhite : 153,0,17;
    --bluewhite : 138,170,229;
    --orangewhite: 252,237,218;
    --custom:43,174,102;
    --black: 16,24,32;
    --yellow:254,231,21;
    --red:153,0,17;
    --white1:252,246,245;
    --blue:138,170,229;
    --white2:255,255,255;
    --orange:252,237,218;
    --white3:238,78,52;
    --custom1:43,174,102;
    --custom2:252,246,245;

    --theme-color:var(--redwhite)
    --card-color:var(--white1)
}
.root_head{
    background-color: black;
}

.head{
    overflow: hidden;
    display: block;
    width: 100%;
    transition: all 2s;
    background-color: rgba(var(--theme-color),1);
    box-shadow: 0px 2px 7px rgba(0,0,0,0.8);
}

.themes{
    display: absolute;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1%;
    right: 0;
    margin-left: auto;
    margin-top: 0px;
    z-index: 3;
    transition: all 1s;
}

.themes:hover{
    width: 2%;
}

.themes .one{
    display: block;
    background-color: rgb(254,231,21);
    padding: 40px;
    width: 20%;
    
    flex: 1;
    margin-left: auto;
}

.themes .two{
    display: block;
    background-color: rgb(153,0,17);
    padding: 40px;
    flex: 1;
    width: 20%;
    margin-left: auto;
}

.themes .three{
    display: block;
    background-color: rgb(138,170,229);
    margin-left: auto;
    padding: 40px;
    width: 20%;
}

.themes .four{
    display: block;
    background-color: rgb(252,237,218);
    margin-left: auto;
    padding: 40px;
    width: 20%;
}

.themes .five{
    display: block;
    background-color: rgb(43,174,102);
    padding: 40px;
    width: 20%;
    margin-left: auto;
}

.themes button{
    width: 20%;
}


.parentContent{
    z-index: 5;
    
}

.content_info{
    display: flex;
    position: relative;
    border: none;
    border-radius: 10px;
    margin: 0px;
}

.content_info .PageLogo{
    flex: 1.5;
}

.content_info .Info{
    padding: 10px;
    margin-left: 40px;
    display: block;
    position: absolute;
    padding-left: 100px;
    padding-right: 100px;
    top: 50%;
    color: rgb(255, 255, 255);
    pointer-events:none;
}

.Info h1{
    margin-top: 10px;
    padding-top: 10px;
    font-size: 6vmax;
    font-family: 'Manrope', sans-serif;
}

.subInfo{
    display: flex;
}

.subInfo p{
    flex: 1;
    text-align: left;
    padding-left: 0px;
    padding-right: 20px;
    font-family: 'Manrope', sans-serif;
}

.lessbtn{
    border: none;
    background-color: transparent;
    color: rgba(var(--theme-color),1);
    font-style: italic;
    transition: all 1s;
}

.morebtn{
    border: none;
    background-color: transparent;
    color: red;
    font-style: italic;
}

.leftbtn{
    width:5%;
    display: absolute;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-right: auto;
    background-color: transparent;
    z-index: 2;
    border: none;
    opacity: 50%;
}

.leftbtn:hover{
    opacity: 100%;
}

.rightbtn{
    width: 5%;
    display: absolute;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    background-color: transparent;
    z-index: 2;
    border: none;
    opacity: 50%;
}

.rightbtn:hover{
    opacity: 100%;
}
.navbar{
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    transition: all 1s;
    height: 100px;
}

.navbar img{
    padding-left: 100px;
    width: 250px;
    display: flex;
    position: absolute;

}

.navbar .user_info{
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.navbar h3{
    padding: 15px;
    color: white;
}

.navbar button{
    margin-right: 100px;
}

.navAlign{
    width: 100%;
    display: flex;
    position: absolute;
}
.goback{
    padding: 6px;
    display: absolute;
    position: absolute;  
    z-index: 1;
    margin-top: 10px;
    margin-left: 18px;  
    border: none;
    border-radius: 10px;
}

.themes{
    color: white;
    display: block;
}

.themes input{
    border: none;
    
}



.contentContainer{
    display: flex;
    position: relative;
    /* transform: translateY(100px); */
    opacity: 1;
    transition: 2s all ease;
    background-color: rgba(var(--theme-color),1);
    margin: 50px;
    border: none;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.8);
}

/* .contentContainer.active{
    transform: translateY(0);
    opacity: 1;
  } */

.genre{
    display: flex;
    font-size: xx-large;
    padding-left: 30px;
    background-color: white;
    box-shadow: 0px 3px 7px rgba(145, 145, 145, 0.3);
    transition: all 1s;
    z-index: 5;
    padding: 30px;
}

.genre h2{
    font-size: xxx-large;
}

.logo{
   display: flex;
   width: 10%;
   height: 150px;
   margin-right: auto;
   margin-left: 20px;
    
}

.PageLogo{
    position: relative;
    flex: 0.7;
    margin-top: auto;
    margin-bottom: auto;
    width: 70%;
    
}

.PageLogo img{
    border: none;
    border-radius: 10px;
    background-size: cover;
    overflow: hidden;
    background-color: transparent;
    display: flex;
    width: 100%;
    
    margin-left: auto;
    margin-right: auto;
    height: auto;
    
    margin-top: auto;
    margin-bottom: auto;
    
    
}

.PageLogo .basetitle{
    z-index: 1;
    width: 48vmax;
    left: 60px;
    bottom: 100px;
    pointer-events: none;
}

.PageLogo .backimg:hover{
    transform: scale(1);
    
    
}

.gridContainer{
    display: block;
 
}

.imageSection .leftbtn{
    display: absolute;
    position: absolute;
    width: 80px;
    margin-top: 50px;
    background-color: black;
    height: 150px;
    opacity: 50%;
    border: none;
    z-index: 2;
    border-radius: 10px;
    padding: 20px;
}

.imageSection .leftbtn:hover{
    opacity: 80%;
}

.imageSection .rightbtn{
    z-index: 2;
    position: absolute;
    width: 80px;
    right: 0px;
    background-color: rgb(0, 0, 0);
    height: 94%;
    opacity: 50%;
    border: none;
    border-radius: 10px;
}

.imageSection .rightbtn:hover{
    opacity: 80%;
}

.imageSection img{
    flex:2;
    transition: 0.5s;
    z-index: 1;
    transform: scale(1);
}

.imageSection img:hover{
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.imageSection{
    
    overflow: hidden;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);
    
}

.basetitle{
    position: absolute;
    color: rgb(255, 255, 255);
}

.user_detailz {
    display: block;
    text-align: end;
}


.editform form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    padding: 10px;
}
.editform form input{
    border: none;
    display: block;
    font-size: 40px;
    outline: none;
}

.editform form label{
    
}

form .inp1{
    
}
form .inp2{
    
}
form .inp3{
    
}
form .inp4{
    
}

.nonchangaleinfo{
    pointer-events: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    padding: 10px;
}

.inp5{
    display: block;
    border: none;
    outline: none;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.5);
}



@keyframes fade {
    from{
        
        filter: blur(0px);
  -webkit-filter: blur(0px);
        
    }
    to {
      
      filter: blur(8px);
  -webkit-filter: blur(8px);
    }
  }

 
.HeadDetails{
    margin-right: 20px;
    display: flex;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.user_info{
    display: block;
    text-align: end;
}

.user_info h3{
    padding-right: 100px;
    text-align: end;
}

.user_info h5{
    margin-left: auto;
    margin-right: 100px;
    color: white;
}

.user_info button{
    display: flex;
    margin-left: auto;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 18px;
}

.scrollTop{
    display: flex;
    margin: 20px;
}

.scrollTop img{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.user_info button:hover{
    color: red;
}

.homebg{
    
    background-position: center;
    background-attachment: fixed;
    width: 100%;
}

.homebg img{
    display: absolute;
    position: fixed;
    width: 100%;
    background-attachment: fixed;
}

@media screen and (max-width:1200px) {
    .content_info{
        display: block;
        
    }

    .content_info .Info{
        display: block;
        position: relative;
    }

    .PageLogo{
        width: 100%;
    }

    .PageLogo .basetitle{
        z-index: 1;
        width: 35vmax;
        left: 60px;
        bottom: 100px;
    }
}

@media screen and (max-width:600px) {
    
    .navAlign{
        width: 100%;
        display: flex;
        position:fixed;
        z-index: 3;
        opacity: 0.2;
    }

    .navAlign:hover{
        opacity: 1;
    }

    .PageLogo{
        background-position: center; 
    }

    .PageLogo img{
        overflow: hidden;
        background-color: transparent;
        display: flex;
        width: 200%;
        margin-left: auto;
        margin-right: auto;
        
        background-repeat: no-repeat;
        background-attachment: fixed;
        
        margin-top: auto;
        background-size: cover;
        margin-bottom: auto;
        
        
    }

    .content_info{
        display: block;
        
    }

    .content_info .Info{
        display: block;
        position: relative;
    }

    .PageLogo{
        width: 100%;
    }

    .PageLogo .basetitle{
        z-index: 1;
        width: 35vmax;
        left: 10px;
        bottom: 10px;
    }

    .navbar img{
        padding: 5px;
        width: 150px;
        display: flex;
        position: absolute;
    
    }
    
    .navbar .user_info{
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
    }
    .navbar h3{
        padding: 15px;
        color: white;
    }
    
    .navbar button{
        margin-right: 10px;
    }

    .leftbtn{
        width:15%;
        display: absolute;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin-right: auto;
        background-color: transparent;
        z-index: 2;
        border: none;
        opacity: 50%;
    }
    
    .rightbtn{
        width: 15%;
        display: absolute;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin-left: auto;
        background-color: transparent;
        z-index: 2;
        border: none;
        opacity: 50%;
    }

    .content_info .Info{
        padding: 10px;
        margin-left: 40px;
        display: block;
        position: absolute;
        padding-left: 25px;
        padding-right: 50px;
        top: 5%;
        color: rgb(255, 255, 255);
        pointer-events:none;
    }

    .editform form{
        display: block;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        row-gap: 20px;
        padding: 10px;
    }

    .editform form input{
        border: none;
        display: block;
        font-size: 20px;
        outline: none;
    }

    .nonchangaleinfo{
        pointer-events: none;
        display: block;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        row-gap: 20px;
        padding: 10px;
    }
    
    .inp5{
        display: block;
        border: none;
        outline: none;
        font-size: 20px;
        color: rgba(0, 0, 0, 0.5);
    }

    .genre{
        display: flex;
        font-size: x-large;
        padding-left: 30px;
        background-color: white;
        box-shadow: 0px 3px 7px rgba(145, 145, 145, 0.3);
        transition: all 1s;
        z-index: 5;
        padding: 10px;
    }

    .contentContainer{
        display: flex;
        position: relative;
       
        opacity: 1;
        transition: 2s all ease;
        background-color: rgba(var(--theme-color),1);
        margin: 15px;
        
        margin-top: 30px;
        border: none;
        overflow: hidden;
        border-radius: 20px;
        box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.8);
    }
    

}
