.signuplay{
    display: absolute;
    z-index: 1;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border: none;
    border-radius: 20px;
    background-color: white;
    animation: anim 1s ease-in-out both;
    box-shadow: 3px 0px 7px rgba(0,0,0,0.5);
}

.signuplay .signcontent{
    display: block;
}

.signuplay .signcontent .signupitems{
    display: flex;
    width: 100%;

}

.signuplay .signcontent .signupitems form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}

.signuplay .signcontent .signupitems form input{
    width: 100%;
    border-radius: 5px;
}

.signuplay .signcontent .signupitems form select{
    width: 100%;
    border-radius: 5px;
}

.signuplay .signcontent .signupitems form button{
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-top: 30px;
    transition: 0.5s;
}

.signuplay .signcontent .signupitems form button:hover{
   
}

@keyframes anim{
    from{
        padding: 200px;
        border-radius: 500px;
        opacity: 0;
    }to{
        padding: 20px;
        border-radius: 20px;
        opacity: 1;
    }
}

@media screen and (max-width:400px) {
    .signuplay{
        display: absolute;
        z-index: 1;
        top:0;
        right: 0;
        bottom: 0;
        left: 0;
        margin-bottom: 0px;
        border: none;
        border-radius: 20px 20px 0px 0px;
        background-color: white;
        animation: anim 1s ease-in-out both;
        box-shadow: 3px 0px 7px rgba(0,0,0,0.5);
    }
}